
body {
	 font-size: 15px;
}

.flex-container {
	display: --webkit-flex;
	height:auto;
	flex-direction: column;
}

.header {
	min-height: 20px;
	background-color: #EEEEEE;
	display: flex;
}


.header > .caption {
	margin: 3px 0px 0px 117px;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}

.header > .arrow-down {
  margin: 5px 0px 0px 4px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 9px solid black;
  cursor: pointer;
  
}

.table {
    border-collapse: collapse;
  	height:35px;
    background-color: black;
    margin: auto;
    display: flex;
}

.table > .content {
	margin:auto;
	min-height: 70%;
	width:85%;
	padding: 3px 5px;
}


.table > .content > .first {
	margin-left: 2px;
	cursor:pointer;
	color: white;
	font-weight: bold;
	width:12.5%;
}

.table > .content > .first:hover {
		color: grey;
}

.table > .content > .first > .arrow-up {
	  width: 0; 
	  height: 0; 
	  margin-left: 2px;
	  border-left: 4px solid transparent;
	  border-right: 4px solid transparent;
	  border-bottom: 9px solid green;
	  display: inline-block;
}

.table > .content > .second {
	padding-top: 5%;
	margin-left:40px;
	cursor:pointer;
	color: white;
	font-weight: bold;
	width:12.5%;
}

.table > .content > .second:hover {
		color: grey;
}


.table > .content > .second > .percent {

		margin-left: 5px;
}

.table > .content > .second > .arrow-up {
	  width: 0; 
	  height: 0; 
	  margin-left: 2px;
	  border-left: 4px solid transparent;
	  border-right: 4px solid transparent;
	  border-bottom: 9px solid green;
	  display: inline-block;
}

.flex-container > .subhead {
	min-height: 140px;
	margin: auto;
	display: flex;
}

.flex-container >.subhead > .topic {
	margin:auto;
}

.flex-container >.subhead > .topic > .name {
	margin:auto;
	font-style: bold;
	font-size: 50px;
	letter-spacing: -2px;
}

.flex-container > .subhead > .topic > .name > .space {
	float:right;
	margin-left: 25px;
	margin-top: 15px;
	max-height: 20%;
	font-size: 20px;
	color:grey;
}

.flex-container > .subhead > .topic > .name > .subscribe {
	padding-left:5px;
	float: right;
	max-height: 20%;
	font-size: 20px;
	cursor: pointer;
}

.flex-container > .subhead > .topic > .name > .sign {
	float: right;
	text-align: right;
	max-height: 20%;
	font-size: 20px;
	cursor: pointer;
}

.subscribe:hover {
	color: skyblue;
}

.sign:hover {
	color:skyblue;
}

.flex-container > .subhead > .topic > .name > .details {
	width:15%;
	font-size: 20px;
	float:right;
}

.flex-container > .subhead > .topic > .det {
	width:40%;
	min-height: 30px;
	font-size: 18px;
	margin-left: 18%;
	text-align: left;
}

.flex-container > .subhead > .topic > > .det > .info {
	color:grey;
	cursor: pointer;
	padding-left: 5px;
}

.flex-container > .det > .info > .arrow-down {
	  margin: 5px 0px 0px 4px;
	  border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  border-top: 7px solid grey;
	  cursor: pointer;
	  display: inline-block;
}

.flex-container  > .type {
	margin:auto;
	max-height: 50px;
	width:75%;
}

 .type >.division {
	
	margin-left: 25px; 

}
















